<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="internalLog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<!-- the targets to write to -->
	<targets>

		<target name="allDataLogger" xsi:type="File"
		   layout="[${longdate}] - [${logger}] [${message}] [${level}] "
		   fileName="${basedir}/logs/${shortdate}.log" />

		<target name="warningLogger" xsi:type="File"
		  layout="[${longdate}] [${message}] "
		  fileName="${basedir}/logs/${shortdate}-other.log" />

		<target name="requestLogger" xsi:type="File"
		  layout="[${longdate}] [${message}] "
		  fileName="${basedir}/logs/${shortdate}-request.log" />
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<logger name="*" minlevel="Warn" writeTo="warningLogger" final="true"/>
		<logger name="requestLogger" minlevel="Trace" writeTo="requestLogger" final="true"/>
		<logger name="*" minlevel="Info" writeTo="allDataLogger" final="true"/>
	</rules>
</nlog>
